<h3 class="display-5">Editing <%= @post.title %></h3>
<div class="border mt-3 rounded-4 p-3">
  <%= render "form", post: @post %>
  <div class="d-flex gap-4">
    <%= link_to "Ver esta Noticia", @post, class:"link-warning" %>
    <%= link_to "Volver a Noticias", posts_path, class:"link-warning" %>
  </div>
</div>
